body {
    background-color: #343434;
    max-width: 900px;
}
  @font-face {
    font-family: fancyFont;
    src: url(./font/TheHistoriaDemo.ttf);
  }

  .container {
      max-width: 900px;
  }

  .logoFont {
      font-family: fancyFont;
  }

  nav .brand-logo {
      font-size: 5.5rem;
      padding-top: 25px;
      color: hotpink;
      z-index: 401;
  }

  nav {
    background-color: #343434;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 11px;
}

nav ul li {
    margin-top: 5px;
    margin-right: 5px;
}

.mainCard {
    margin-top: -2px;
}

.card .card-title {
    font-family: fancyFont;
    color: hotpink;
    font-size: 4rem;
}

.card .card-content .card-title {
    margin-bottom: 0px;
    margin-top: 8px;
    background-color: #343434;

}

.card .card-content{
    background-color: #343434;
}

 .card .card-reveal{
    background-color: #f1f1f1;
}

.crd-img {
    width: 100%;
    height: 100%;
}

.nav-wrapper {
    background-color: #343434;
    padding-left: 20px;
}

.map-div {
    height: 450px;
}

.mapPop {
    /* width: 500px; */
}

.animBKG {
    background-image: linear-gradient(#343434 20%, black);
}
