body {
    background-color: #626262;
}
  @font-face {
    font-family: fancyFont;
    src: url(./font/TheHistoriaDemo.ttf);
  }

  .logoFont {
      font-family: fancyFont;
  }

  nav .brand-logo {
      font-size: 5.5rem;
      padding-top: 25px;
      color: hotpink;
      z-index: 401;
  }

.crd-img {
    width: 100%;
    height: 100%;
}

.nav-wrapper {
    background-color: #343434;
    padding-left: 20px;
}

.map-div {
    height: 450px;
}

.mapPop {
    /* width: 500px; */
}
